.Sidebar {
  position: fixed;
  width: 200px;
  padding: 5px;
  height: 400px;
  z-index: 10;

  pointer-events: none;

  //margin: 5px;
  //border: 1px solid darkgrey;
  //border-radius: 5px;

  //backdrop-filter: blur(4px);
  //background-image: linear-gradient(to right, rgba(0, 140, 255, 0.31), rgba(255, 255, 255, 0.1));

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
  .Sidebar {
    width: 100px;
  }
}


.link {
  color: black;
  pointer-events: auto;

  &.active {
    color: orange;
  }

  &:hover {
    color: orange;
  }

}


